[user]
        name = "L. Delatte"
        email = nobody@nowhere
[http]
        proxy = http://proxy...:8080
        sslCAInfo = /home/...
        sslCert = /home/...
        sslKey = /home/...
        sslVerify = false
[core]
        editor = vi
[merge]
        tool = vimdiff
[push]
        default = simple
[alias]
        cm = commit -m
        ca = commit --amend -m
        st = status
        co = checkout
        br = branch
        bl = branch --list
        rs = reset
        df = diff
        dc = diff --cached
        ps = push
        pl = pull
        mg = merge
        rb = rebase
        cp = cherry-pick
        l1 = log --pretty=oneline
        l2 = log --pretty=oneline -n 12
        lf = log --format='%h %cn %ai %s'
        lg = log --graph --format='%h %cn %ai %s'
