[user]
        name = ...
        email = ...
[http]
        proxy = http://proxy...:8080
        sslCAInfo = /home/...
        sslCert = /home/...
        sslKey = /home/...
        sslVerify = false
[merge]
        tool = /bin/vimdiff
[push]
        default = simple
